:root {
    --royalblue:rgb(65,105,225);
    --cornflowerblue:rgb(100, 149, 237);
    --midnightblue:rgb(25,25,112);
    --silver:rgb(192,192,192);
}

body {
    font-family: Verdana;
    background-image: url("img/background.jpg") ;
}

.contenu {
    background:rgba(217, 237, 244, 0.5);
    margin:10px;
    padding:10px;
    border-radius:10px;
    text-align: center;
}

h1 {
    color:var(--royalblue);
}
h1 , h2 {
    font-weight:bold ;
    text-align:center;
}

h3 {
    margin-top:25px;
}

fieldset ,p {
    text-align:center;
    margin-top: 50px;
}

fieldset {
    margin-left:25%;
    margin-right:25%;
    border-radius: 10px;
    border-style:double;
    border-color:var(--silver);
    margin-bottom:10px;
}

legend {
    font-weight: bold;
}

#choixGroupe {
    margin:10px;
}

button {
            /*background-color: #c294ec;*/
    background-color:var(--cornflowerblue);
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

button:hover {
        background-color:var(--midnightblue);
}
